@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Langar', cursive;
}

body {
    width: 100%;
}

header {
    font-size: 4rem;
}

#user {
    font-size: 2rem;
}

#story {
    width: 40%;
    border: 1px solid gray;
    min-height: 3rem;
    font-size: 2rem;
}

header, #user, #story {
    width: 60%;
    margin: 3rem auto;
    text-align: center;
}